@import '~antd/dist/antd.less';

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

a {
  color: black;
}

#site-name {
  display: inline;
  color: orange;
  font-weight: 360;
  font-size: 24px;
}

#player {
  position: fixed;
  bottom: 0;
  padding: 8px 0;
  width: 100%;
  background-color: #222;
  color: white;
}

#song-name-in-player {
  color: white;
  margin-right: 4;
  font-size: 16;
}

#playing-list {
  position: absolute;
  bottom: 64px;
  width: 600px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(70,70,70);
}

#playing-list-header {
  padding: 10px;
  background: #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#playing-list-content {
  color: white;
  overflow: auto;
  height: 280px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.white-card {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

.song-alias {
  color: #999;
  margin-left: 7px;
}

.icon-in-player {
  color: white;
  vertical-align: middle;
  font-size: 25px;
}

button.in-player {
  border: none;
  background: none;
  padding: 0;
}
button.in-player:hover {
  cursor: pointer;
}

.gray-in-player {
  color: rgb(200,200,200);
}

.song-item {
  padding: 4px 10px;
}
.song-item:hover {
  background-color: #f4f4f4;
}

.item-in-playing-list:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}

.item-in-playing-list.playing {
  background-color: rgb(60, 60, 60);
}