@import '~antd/dist/antd.less';

html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.white-card {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

.icon-in-player {
  color: white;
  vertical-align: middle;
  font-size: 25px;
}

button.in-player {
  border: none;
  background: none;
  padding: 0;
}
button.in-player:hover {
  cursor: pointer;
}

.gray-in-player {
  color: rgb(200,200,200);
}