@import '~antd/dist/antd.less';

html, body {
  /* font-family: "Microsoft Yahei","微软雅黑", PingFangSC-Regular,Verdana,Arial,"宋体", Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.white-card {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

.icon-in-player {
  color: white;
  display: block;
  font-size: 25px;
}

button.in-player {
  border: none;
  background: none;
  display: block;
  padding: 0;
}
button.in-player:hover {
  cursor: pointer;
}

.gray-in-player {
  color: rgb(200,200,200);
}

@media only screen and (min-width: 992px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}